.pantryWrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3vh 0 3vh 0;
}

.pantryCard {
    width: 45vw;
    height: 45vh;
    margin-bottom:3vh;
    overflow-y: auto;
    box-shadow: 8px 8px 4px grey !important;
    border-style: outset !important;
    border-color: rgb(172, 150, 39) !important;
    border-width: 4px !important;
    border-radius: 5px !important;
}

.spiceImage {
    width: 65% ;
    height: 25% ;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.pantryTitle {
    text-transform: capitalize;
    font-size: 26px !important;
    font-weight: 750 !important;
}