.techWrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 2vh 0;
    padding-top: 16vh;
}

.techCard {
    width: 45vw;
    height: 40vh;
    margin-bottom:3vh;
    overflow-y: auto;
    box-shadow: 8px 8px 4px grey !important;
    border-style: outset !important;
    border-color: rgb(148, 109, 99) !important;
    border-width: 4px !important;
    border-radius: 5px !important;
}

.techCard > div {
    height: 95%;
}

.techImageWrapper {
    width: 85% ;
    height: 18vh;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.techImageWrapper > div {
    height: 100% ;
    width: 100% ;
}

.techText {
    height: 4vh; 
    margin-top: 2vh;
    margin-bottom: 2vh;
    overflow-y: auto;
    padding: 2vh !important;
}

.techImage {
    height: 100%;
    width: 100%;
}

.techTitle {
    position:fixed;
    right: 0;
    left: 0;
    z-index: 999;
    text-transform: capitalize;
    font-size: 26px !important;
    font-weight: 750 !important;
}
@media screen and (orientation: landscape) and (min-width: 600px) {
    .techCard {
        width: 30vw;
        height: 80vh;
        margin: 3vh 0 3vh 0;
    }
    .techText {
        height: 25vh;
        margin-top: 3vh;
    }
    .techImageWrapper {
        height: 25vh;
    }
    
}
@media screen and (min-width: 800px) {
    .techCard {
        width: 22vw;
        height: 40vh;
        margin: 3vh 0 3vh 0;
    }
}
@media screen and (min-width: 1100px) {
    .techCard {
        width: 17vw;
        height: 40vh;
        margin: 3vh 0 3vh 0;
    }
}

