.vidWrapper {
    height: 90vh;
    width: 100vw;
    padding-top: 16vh;
    overflow-y: auto;
}

.vidCard {
    width: 90vw;
    height: 40vh;
    margin-bottom:3vh;
    margin-left: 5vw;
    /* overflow-y: auto; */
    box-shadow: 8px 8px 4px grey !important;
    border-style: outset !important;
    border-color: rgb(148, 109, 99) !important;
    border-width: 4px !important;
    border-radius: 5px !important;
    position: relative;

}

.vidName {
    text-transform: capitalize;
    font-size: 30px !important;
    font-weight: 800 !important;
}

.vidMedia {
    height: 25vh ;
}

.howTo {
    width: 80vw;
    padding-left: 4vw;
    height: 25vh;
}

@media screen and (min-width:600px) /* and (orientation:landscape) */{
    .vidCard {
        width: 90vw;
        height: 81vh;
        position: relative;
    }
    .vidMedia {
        height: 58vh;
    }
    .howTo {
        padding-left: 4vw;
        height: 58vh;
    }
}

@media screen and (min-width: 800px) {
    .vidCard {
        width: 90vw;
        height: 81vh;
        position: relative;
    }
    .vidMedia {
        height: 70vh;
    }
    .howTo {
        padding-left: 4vw;
        height: 68vh;
    }
}
