.mainWrapper {
    /* margin-top: 11vh; */
    height: 100%;
    width: 100%;
    position: relative;
    border: none;
    margin: none;
}

.bgVideo {
    height:100%;
    width:100%;
    z-index: -1;
    object-fit: cover;
    border: none;
    margin: none;
    
}

.quote {
    position:absolute;
    top:38%;
    left:10%;
    height:40%;
    width:80%;
    font-size: 30px;
    text-shadow:0 1px 0 black;
    text-align: center;
    color: white;
}