.mainWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    background: black;
    border: none;
    margin: none;
}

.bgVideo {
    height:100%;
    width:100%;
    z-index: -1;
    object-fit: cover;
    border: none;
    margin: none;
    
}

.quote {
    position:absolute;
    top:35%;
    left:5%;
    height:60%;
    width:90%;
    font-size: 30px;
    font-weight: 550;
    text-shadow:3px 2px 3px black;
    text-align: center;
    color: white;
}