.main {
    width:100vw;
    height:11vh;
    display: flex;
	justify-content: space-between;
	align-items: flex-start;
    background: linear-gradient(to right, rgba(126, 92, 81,0.7), rgba(189, 162, 148, 0.2));
    
}

.logo {
    width:auto;
    height:9vh;
    mix-blend-mode:multiply;
    padding-top:1vh;
}

.menuBar {
    background: rgba(255,255,255,0.2)
}