.searchWrapper {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    width:100vw;
	height:50px;
	position: fixed;
    padding-top: 15vh;
	z-index: 998;
	background-color: white;
}

.searchInput {
	height:20px;
	max-width: 50vw;
	min-width: 15vw;
	border-style: inset;
	border-color:rgb(148, 109, 99);
}

.searchButton {
	height: 25px;
	margin-left: 10px;
	border-style: outset;
	border-color:rgb(148, 109, 99);
}

.emptySearch {
	padding-top: 23vh;
	position:relative;
	width: 100vw;
	height: 70vh;
}

.bgSearch {
	height: 100%;
	width: 100%;
	z-index: -1;
}

.bgMessage {
	position: absolute;
	top: 50vh;
	width: 100%;
	left: 0;
	font-size: 30px;
    text-shadow:2px 3px 10px black;
    text-align: center;
    color: white;
}

.snackbar {
	text-align: center;
}

