/* .App {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

} */

.App {
	padding: none;
	margin: none;
	height: 100vh;
	width: 100vw;
	position: relative;
	/* overflow: hidden;	 */
}